<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Koiranvaatekauppa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Tuotelista</h2>



	<table>
		<tr>
			<th>Nimi</th>
			<th>Tyyppi</th>
			<th>Väri</th>
			<th>Koko</th>
			<th>Hinta</th>
			<th>Valmistaja</th>
		</tr>

		<tr th:each="tuote : ${tuotteet}">
			<td th:text="${tuote.tuoteNimi}"></td>
			<td th:text="${tuote.tyyppi.getDisplayName()}"></td>
			<td th:text="${tuote.vari}"></td>
			<td th:text="${tuote.koko}"></td>
			<td th:text="${tuote.hinta}+€"></td>
			<td
				th:text="${tuote.valmistaja != null ? tuote.valmistaja.nimi : 'N/A'}"></td>
			<td><a
				th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
				th:href="@{/muokkaa/{id}(id=${tuote.id})}">Muokkaa</a></td>

			<td><a
				th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
				th:href="@{/delete/{id}(id=${tuote.id})}">Poista</a></td>
		</tr>
	</table>

	<a href="https://softala.haaga-helia.fi:8075/index">
		<button>Etusivulle</button>
	</a>


	<form action="/lisaa" method="get">
		<button th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
			type="submit">Lisää tuote</button>
	</form>

	<form action="/valmistajalista" method="get">
		<button type="submit">Tarkastele valmistajia</button>
	</form>
	<div sec:authorize="!isAuthenticated()">
		<a href="https://softala.haaga-helia.fi:8075/login">
			<button>Kirjaudu sisään</button>
		</a>
	</div>
	<div sec:authorize="isAuthenticated()">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" />
		</form>
	</div>
</body>
</html>
