@charset "ISO-8859-1";
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;  
  width: 50%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;  
}

table tbody tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.poista{
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}

.oikealle{
	text-align: right;	
	
}

#uusiAsiakas, #takaisin{
	color: white;	
	cursor: pointer;	
	text-decoration: none;
}

